<app-header [svg]="true" [title]="'Terms and Conditions'"></app-header>

<ion-content>

  <br>
  
  <div class="ion-text-justify" style="margin: auto; width: 85%; font-size: small;">

      <ol>
        <li>
            Los presente t&eacute;rminos y condiciones ser&aacute;n aplicables al uso del Servicio de Banca Electr&oacute;nica en sus modalidades de Banca M&oacute;vil y Banca por Internet, a trav&eacute;s del cual el CLIENTE/USUARIO de los servicios podr&aacute; realizar operaciones bancarias mediante el uso de un dispositivo de acceso (tel&eacute;fono m&oacute;vil y/o computadora personal, entre otros).
        </li>
      </ol>
      <ol start="2" >
        <li>
            El ingreso y utilizaci&oacute;n de cualquier modalidad de la BANCA ELECTR&Oacute;NICA, expresa la adhesi&oacute;n plena y sin reservas del CLIENTE/USUARIO a los presentes T&eacute;rminos y Condiciones de Uso.
        </li>
      </ol>
      
      <ol start="3" >
        <li>
            A menos que el contrato del Servicio de BANCA ELECTRONICA defina algo distinto, los siguientes t&eacute;rminos tendr&aacute;n el siguiente significado:
        </li>
      </ol>
      
      <ol style="margin-left: 1.5rem;" type="a">
        <li>
            <p><span><b>Banca Electr&oacute;nica:</b></span><span>&nbsp;Conjunto de servicios y operaciones bancarias que las Instituciones de Cr&eacute;dito pactan o convienen con sus clientes, para realizarse a trav&eacute;s de medios electr&oacute;nicos, tales como cajeros autom&aacute;ticos, terminales punto de venta, tel&eacute;fonos celulares, e internet.&nbsp;</span></p>
        </li>
        <li>
            <p><span><b>Banca por Internet:</b></span><span>&nbsp;Servicios y Operaciones bancarias realizados a trav&eacute;s de Internet, en el sitio que corresponda a uno o m&aacute;s dominios de la Instituci&oacute;n, incluyendo el acceso mediante el protocolo WAP o equivalente.</span></p>
        </li>
        <li>
            <p><span><b>Banca M&oacute;vil:</b></span><span>&nbsp;Servicio de Banca Electr&oacute;nica en el cual el dispositivo de acceso consiste en un tel&eacute;fono m&oacute;vil del Usuario, cuyo n&uacute;mero de l&iacute;nea est&aacute; asociado al servicio.</span></p>
        </li>
        <li>
            <p><span><b>Cliente/usuario:</b></span><span>&nbsp;Al titular de la(s) cuenta(s) y usuario de los servicios de Banca Electr&oacute;nica.&nbsp;</span></p>
        </li>
        <li>
            <p><span><b>Contrase&ntilde;a(s)</b></span><span>: Cadena de ocho caracteres alfanum&eacute;ricos, en la que no deber&aacute; incluirse m&aacute;s de tres n&uacute;meros consecutivos, ni m&aacute;s de tres n&uacute;meros id&eacute;nticos en forma consecutiva, que autentica fielmente a un Cliente en un medio electr&oacute;nico o en un servicio de Banca Electr&oacute;nica.</span></p>
        </li>
        <li>
            <p><span><b>Cuenta(s)</b></span><span>: En singular o plural, al contrato de Dep&oacute;sito Bancario que se asocia a los servicios de Banca Electr&oacute;nica y del que es titular el Cliente.</span></p>
        </li>
        <li>
            <p><span><b>Dispositivo de Acceso:</b></span><span>&nbsp;Cualquier equipo (Equipo de C&oacute;mputo, Tel&eacute;fono M&oacute;vil, PDA) que permite a un Cliente acceder al Servicio de Banca Electr&oacute;nica, con conexi&oacute;n a Internet.</span></p>
        </li>
        <li>
            <p><span><b>Medio(s) Electr&oacute;nico(s)</b></span><span>: Equipos, sistemas automatizados de procesamiento de datos y redes de telecomunicaciones o de cualquier otra tecnolog&iacute;a, ya sean p&uacute;blicos o privados.</span></p>
        </li>
        <li>
            <p><span><b>Modalidades disponibles.</b></span><span>&nbsp;- A los servicios de Banca Electr&oacute;nica que el Banco del Bienestar ponga a disposici&oacute;n del CLIENTE/USUARIO, mediante la celebraci&oacute;n del contrato respectivo.&nbsp;</span></p>
        </li>
      </ol>
      
      <ol start="4" >
        <li>
            El CLIENTE/USUARIO acepta que los servicios de BANCA ELECTR&Oacute;NICA, estar&aacute;n vinculados a las cuentas de dep&oacute;sito que el mismo habilite, por lo que las operaciones bancarias que realice desde la BANCA ELECTR&Oacute;NICA, se ver&aacute;n reflejadas en dichas cuentas.&nbsp;
        </li>
      </ol>
      
      <ol start="5" >
        <li>
            El CLIENTE/USUARIO acepta que al vincular una cuenta a los Servicios de BANCA ELECTRONICA, no estar&aacute; cambiando los t&eacute;rminos, condiciones u obligaciones adquiridas previamente con relaci&oacute;n a dicha cuenta.&nbsp;
        </li>
      </ol>
      
      <ol start="6" >
        <li>
            Para el acceso al Servicio de BANCA ELECTR&Oacute;NICA y la realizaci&oacute;n de operaciones desde las modalidades disponibles, Banco del Bienestar proporcionar&aacute; al CLIENTE/USUARIO los Mecanismos de Seguridad correspondientes y dem&aacute;s elementos de seguridad que determine, no estando obligado el Banco del Bienestar a considerar v&aacute;lidas aqu&eacute;llas Instrucciones no impresas que no cumplan con los medios de identificaci&oacute;n electr&oacute;nica o Mecanismos de Seguridad. Banco del Bienestar se reserva el derecho de solicitar en cualquier momento la conﬁrmaci&oacute;n de las Instrucciones a trav&eacute;s de los medios establecidos para ello.
        </li>
      </ol>
      
      <ol start="7" >
        <li>
            El CLIENTE/USUARIO de los servicios de BANCA ELECTR&Oacute;NICA, manifiesta haber revisado y por tanto acepta las tarifas y/o comisiones aplicables a los servicios de BANCA ELECTRONICA.
        </li>
      </ol>
      
      <ol start="8" >
        <li>
            Si existiera alg&uacute;n conflicto entre los t&eacute;rminos y condiciones del Servicio de BANCA ELECTR&Oacute;NICA y lo establecido en los contratos espec&iacute;ficos de cada cuenta vinculada, prevalecer&aacute; lo pactado en esta &uacute;ltima.&nbsp;
        </li>
      </ol>
      
      <ol start="9" >
        <li>
            El Banco del Bienestar podr&aacute; rechazar cualquier operaci&oacute;n realizada desde el Servicio de BANCA ELECTRONICA, en los siguientes casos: cuando el n&uacute;mero de la cuenta sea inv&aacute;lido o inexistente, cuando el monto de la operaci&oacute;n sea mayor a los montos permitidos, por errores o inconsistencias que impidan el adecuado procesamiento de las operaciones solicitadas.
        </li>
      </ol>
      
      <ol start="10" >
        <li>
            El caso de suspensi&oacute;n del servicio de BANCA ELECTRONICA, debido a mantenimiento del sistema o mejoras a la plataforma tecnol&oacute;gica y el Banco del Bienestar est&eacute; en posibilidad de programar o anticipar esta suspensi&oacute;n, deber&aacute; notificar al CLIENTE/USUARIO a trav&eacute;s del propio sistema de BANCA ELECTR&Oacute;NICA, v&iacute;a correo electr&oacute;nico, o cualquier otro medio establecido por las partes, que permita el aviso oportuno al CLIENTE/USUARIO. En los casos que la suspensi&oacute;n del servicio se produzca por ca&iacute;das inesperadas del sistema o inconvenientes en la red u otras causas de fuerza mayor o caso fortuito, el Banco del Bienestar notificar&aacute; dicha circunstancia al CLIENTE/USUARIO, por los medios disponibles establecidos por las partes en los contratos respectivos.
        </li>
      </ol>
      
      <ol start="11" >
        <li>
            Cuando el Banco del Bienestar se encuentre en posibilidad de incorporar Medios Electr&oacute;nicos adicionales o actualizar los existentes, para la prestaci&oacute;n de los Servicios de BANCA ELECTR&Oacute;NICA, lo informar&aacute; al CLIENTE/USUARIO, junto con los t&eacute;rminos y condiciones para determinar los servicios que podr&aacute;n contratarse a trav&eacute;s del Medio Electr&oacute;nico de que se trate, los medios de identiﬁcaci&oacute;n del usuario y las responsabilidades correspondientes a su uso.&nbsp;
        </li>
      </ol>
      
      <ol start="12" >
        <li>
            Banco del Bienestar no ser&aacute; responsable por incumplimiento en las Instrucciones recibidas del CLIENTE/USUARIO, cuando la falta de cumplimiento se deba al mantenimiento, fallas, caso fortuito o de fuerza mayor, por fallas en el sistema de computaci&oacute;n o interrupci&oacute;n en los Sistemas de Informaci&oacute;n o alg&uacute;n acontecimiento similar, que quede fuera del control del Banco del Bienestar.
        </li>
      </ol>
      
      <ol start="13" >
        <li>
            El CLIENTE/USUARIO acepta expresamente que Banco del Bienestar no ser&aacute; responsable de ning&uacute;n da&ntilde;o o perjuicio que se le pudiera causar si por caso fortuito, fuerza mayor o por cualquier otro acontecimiento o circunstancia inevitable, m&aacute;s all&aacute; del control del Banco del Bienestar, no pudiera acceder a la BANCA ELECTRONICA o realizar alguna de las operaciones desde la BANCA POR INTERNET o BANCA MOVIL. De igual manera, Banco del Bienestar no ser&aacute; responsable por la interrupci&oacute;n, demora o falta de cumplimiento de cualquier Instrucci&oacute;n, que se suscite en los Sistemas inform&aacute;ticos y/o cualquier Medio Electr&oacute;nico que se utilice para ello, quedando libre el Banco del Bienestar, de cualquier responsabilidad asociada con cualquier virus inform&aacute;tico que pudiera implantarse en el equipo de c&oacute;mputo o software del CLIENTE/USUARIO.&nbsp;
        </li>
      </ol>
      
      <ol start="14" >
        <li>
            Para todos los efectos legales, los derechos de propiedad intelectual respecto de los Servicios de BANCA ELECTR&Oacute;NICA, sus contenidos y dominios utilizados, as&iacute; como todos los derechos de uso y explotaci&oacute;n de los mismos, son propiedad exclusiva del Banco del Bienestar, por lo que el CLIENTE/USUARIO no adquiere ning&uacute;n derecho sobre los mismos por el simple uso de los Servicios.&nbsp;
        </li>
      </ol>
      
      <ol start="15" >
        <li>
            Banco del Bienestar se obliga a mantener confidencialidad sobre la informaci&oacute;n que reciba del CLIENTE/USUARIO que tenga dicho car&aacute;cter, conforme a las leyes y disposiciones legales aplicables en los Estados Unidos Mexicanos.&nbsp;
        </li>
      </ol>
      
      <ol start="16" >
        <li>
            En todo momento, el CLIENTE/USUARIO ser&aacute; el &uacute;nico responsable de mantener en secreto el n&uacute;mero de sus cuentas, contrase&ntilde;as personales, claves de acceso y n&uacute;meros confidenciales con los cuales tenga acceso a los Servicios y contenidos de la BANCA ELECTRONICA.
        </li>
      </ol>
      
      <ol start="17" >
        <li>
            Banco del Bienestar se reserva el derecho de modificar en cualquier momento los T&eacute;rminos y Condiciones de Uso del Servicio de BANCA ELECTR&Oacute;NICA; en ese entendido, el CLIENTE/USUARIO ser&aacute; responsable de leer cuidadosamente los T&eacute;rminos y Condiciones de Uso cada vez que acceda a la BANCA ELECTR&Oacute;NICA y pretenda realizar operaciones desde cualquiera de las modalidades disponibles.
        </li>
      </ol>

      <br><br>

      <ion-button type="button" [routerLink]="backUrl" [queryParams]="{accept: true}" expand="block" color="primary" translate="Accept">
      </ion-button>
      <ion-button [routerLink]="backUrl" expand="block" fill="clear">
        {{ 'Cancel' | translate }}</ion-button>

      <br><br>

      
  </div>

</ion-content>

<app-footer></app-footer>