.account-blocked {
    border: 2.5px solid var(--ion-color-danger);
    border-radius: 30px;
}

.slide{
    div:nth-child(1){
        p {
            width: 80%;
            display: inline-block;
            font-size: 13px;
            margin: 0px 0;
            color: var(--ion-color-danger);
            font-weight: bold;
            margin-top: 5px;
        }
        ion-icon {
            margin: 0;
            font-size: 24px;
            color: var(--ion-color-danger);
        }
    }
}

@media(min-width:351px) {
    .ion-text-center:nth-child(2) {
        margin-bottom: 10px;
    }
    .ion-text-center{
        margin: 7px 0;
    }
}
@media(max-width:350px) {
    .ion-text-center{
        margin: 0;
    }
}