<app-header [svg]="true" [backButton]="true" [title]="'Change Password'" [defaultHref]="'settings'"
  [img]="'/assets/header-icons/ajustes.png'"></app-header>

<ion-content>

  <ion-card class="container-small">

    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="changePassword()">

        <ion-item style="margin-top: 15px;">
          <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
          <ion-input maxlength="8" (input)="toOnlyRegex('oldPassword', '[^A-Za-z0-9]', false)" formControlName="oldPassword" placeholder="{{ 'Old password' | translate }}" [type]="inputTypes.oldPassword.type"
            clearInput></ion-input>
          <ion-icon (click)="viewPassword('oldPassword')" [name]="inputTypes.oldPassword.icon ? 'eye-off-outline' : 'eye-outline'" slot="end"></ion-icon>
        </ion-item>
        <app-input-error [control]="form.controls.oldPassword"></app-input-error>
      
        <ion-item style="margin-top: 15px;">
          <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
          <ion-input maxlength="8" (input)="toOnlyRegex('newPassword', '[^A-Za-z0-9]', false)" formControlName="newPassword" placeholder="{{ 'New password' | translate }}" [type]="inputTypes.newPassword.type" clearInput>
          </ion-input>
          <ion-icon (click)="viewPassword('newPassword')" [name]="inputTypes.newPassword.icon ? 'eye-off-outline' : 'eye-outline'" slot="end"></ion-icon>
        </ion-item>
        <app-input-error [control]="form.controls.newPassword"></app-input-error>
    
        <ion-item style="margin-top: 15px;">
          <ion-icon style="margin: 0px 15px 0 0px;" name="lock-closed-outline"></ion-icon>
          <ion-input maxlength="8" (input)="toOnlyRegex('confirmPassword', '[^A-Za-z0-9]', false)" formControlName="confirmPassword" placeholder="{{ 'Confirm password' | translate }}" [type]="inputTypes.confirmPassword.type"
            clearInput></ion-input>
          <ion-icon (click)="viewPassword('confirmPassword')" [name]="inputTypes.confirmPassword.icon ? 'eye-off-outline' : 'eye-outline'" slot="end"></ion-icon>
        </ion-item>
        <app-input-error [control]="form.controls.confirmPassword"></app-input-error>
    
        <br>

        <ion-button type="submit" [disabled]="!form.valid" expand="block" color="primary" translate="Change">
        </ion-button>
        <ion-button [routerLink]="['/settings']" routerDirection="backward" expand="block" fill="clear">
          {{ 'Cancel' | translate }}</ion-button>

      </form>

    </ion-card-content>

  </ion-card>
  
</ion-content>

<app-footer></app-footer>