<app-header [svg]="true" [backButton]="true" [defaultHref]="'about-us'" [title]="'Privacidad'"></app-header>

<ion-content style="text-align: center">
  <div style="text-align:justify; width: 85%; margin: auto;">
    <br>
    <h4> ¿Quiénes somos? </h4>  

    <p>
      Banco del Ahorro Nacional y Servicios Financieros, Sociedad Nacional de Crédito, Institución de
      Banca de Desarrollo (BANSEFI), es una entidad de la Administración Pública Federal, con
      personalidad jurídica y patrimonio propios, constituido con el carácter de sociedad nacional de
      crédito, en términos de Ley Orgánica, y con domicilio en Av. Río Magdalena, número 115, colonia
      Tizapán San Ángel, Delegación Álvaro Obregón, C.P. 01090, Ciudad de México; es el responsable
      del tratamiento de los datos personales que nos proporcione, los cuales serán protegidos conforme
      a lo dispuesto por la Ley General de Protección de Datos Personales en Posesión de Sujetos
      Obligados, y demás normatividad que resulte aplicable. 
    </p>

    <h4>¿Qué Datos
      Personales se
      resguardan?</h4>

    <table style="margin-top: 1rem;">
      <tbody>
        <tr>
          <td>
            <p>
              <b>Datos personales:</b>
            </p>
            <p>
              1. Correo electrónico. <br>
              2. CURP <br>
              3. Domicilio. <br>
              4. Edad. <br>
              5. Estado Civil. <br>
              6. Firma Autógrafa. <br>
              7. Fotografía. <br>
              8. Historial Crediticio. <br>
              9. Huella Dactilar electrónica 
              biométrica.
            </p>
          </td>
          <td>
            <p>
              10. Ingresos y egresos <br>
              11. Nacionalidad. <br>
              12. Nombre Completo. <br>
              13. Número de Seguridad 
              Social. <br>
              14. Número Telefónico. <br>
              15. Ocupación. <br>
              16. Patrimonio. <br>
              17. R.F.C.
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      En la obtención de la información personal de menores de edad, se estará a lo dispuesto en las
      reglas de representación previstas en la legislación civil que resulte aplicable. Solicitar el formato
      correspondiente al personal de la sucursal bancaria.
    </p>

    <h4>Fundamento
      para el
      tratamiento de
      datos
      personales</h4>

    <p>
      Las disposiciones normativas que facultan a BANSEFI a tratar los datos personales para las
      finalidades señaladas en el presente Aviso de Privacidad, se establecen en los artículos 1, 2, 3, 6, 7,
      8 y 8 Bis, de la Ley Orgánica del Banco del Ahorro Nacional y Servicios Financieros, así como en lo
      señalado en los artículos 2, fracción II, 3, 30, 46, 46 Bis 1, 47, 56, 57, 59 y 115 de la Ley de
      Instituciones de Crédito. Así como, en la Disposición Cuarta, fracción I, inciso a), de las
      Disposiciones de Carácter General a que se refiere el Artículo 115 de la Ley de Instituciones de
      Crédito.
    </p>

    <h4>¿Para qué
      fines
      utilizaremos
      sus datos
      personales?</h4>

    <p>
      Los datos personales que recabamos de usted de forma personal, los utilizaremos para administrar
      y operar los servicios y productos bancarios que solicita o contrata con BANSEFI, los cuales son:
    </p>

    <ul>
      <li>
        Apertura(s) y cancelación de Cuenta(s): (Debicuenta, Debicuenta Básica, Nómina Básica
        BANSEFI, Cuentahorro, Tandahorro, Cuentahorro Infantil, Cuentahorro INFONAVIT, AhorraSIF,
        Cuentahorro CONAVI, Viviendahorro).
      </li>
      <li>
        Operaciones de Depósito y Retiro
      </li>
      <li>
        Pagaré con Rendimiento Liquidable al Vencimiento (PRLV).
      </li>
      <li>
        Expedición, administración y pago de Billetes de Depósito (BIDES).
      </li>
      <li>
        Emisión y pago de Certificados de Depósito (CODES).
      </li>
    </ul>

    <p>
      Otra finalidad principal para lo que se emplearían sus datos personales, para la contratación de los
      servicios siguientes: 
    </p>

    <ul>
      <li>
        Liquidación de remesas nacionales e internacionales.
      </li>
      <li>
        Compra-venta de divisas.
      </li>
      <li>
        Dispersión y recepción de pagos por cuenta de terceros.
      </li>
      <li>
        Fiduciarios.
      </li>
      <li>
        Operaciones de Crédito. 
      </li>
      <li>
        Promoción y venta de seguros bajo la modalidad de microseguros. 
      </li>
      <li>
        CETES Directo.
      </li>
    </ul>

    <h4>Otros usos de
      su
      información
      personal</h4>

    <p>
      De manera adicional, utilizaremos su información personal para las siguientes finalidades, que no
      son necesarias para los servicios bancarios solicitados con BANSEFI, pero que nos permiten y
      facilitan brindarle una mejor atención, como son fines de mercadotecnia, publicidad, sorteos y
      promociones relacionadas con las cuentas bancarias.
    </p>

    <p>
      En caso de que no desee que sus datos personales sean tratados para estos fines adicionales,
      usted puede presentar desde este momento un escrito en esta sucursal bancaria manifestando lo
      anterior. Favor de solicitar el formato correspondiente al personal de la sucursal bancaria.
    </p>

    <p>
      La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para
      que le neguemos los servicios y productos que solicita o contrata con nosotros.
    </p>

    <h4>
      Transferencia
      de datos
      personales.
    </h4>

    <p>
      Le informamos que sus datos personales se compartirán con sujetos obligados de acuerdo a la
      Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados, publicada en
      el Diario oficial de la Federación el día 26 de enero de 2017:
    </p>

    <ul>
      <li>
        Las transferencias que se realicen serán sobre datos personales que se utilicen para el
        ejercicio de facultades propias, compatibles o análogas con la finalidad que motivó el tratamiento de
        los datos personales. 
      </li>
      <li>
        Cuando exista una orden judicial, resolución o mandato fundado y motivado de autoridad
        competente. 
      </li>
      <li>
        Cuando los datos personales se requieran para ejercer un derecho o cumplir obligaciones
        derivadas de una relación jurídica entre el titular y el responsable.
      </li>
    </ul>

    <table style="margin-top: 1rem;">
      <thead>
        <tr>
          <td>
            DESTINATARIO DE LOS DATOS
            PERSONALES
            NACIONALES
          </td>
          <td>
            FINALIDAD
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Dependencias o Entidades de la
            Administración Pública Federal, que
            otorguen apoyos o subsidios al titular
            de los datos personales.
          </td>
          <td>
            Para el depósito de los apoyos
            otorgados por dichas dependencias o
            entidades.
          </td>
        </tr>
        <tr>
          <td>
            Corresponsales autorizados por
            Bansefi: Diconsa, Red Yastas,
            Estaciones de Servicio (PEMEX).
          </td>
          <td>
            Para que realicen las operaciones de
            depósitos y retiros de su cuenta.
          </td>
        </tr>
        <tr>
          <td>
            Compañías de Seguros 
          </td>
          <td>
            Para la contratación de un
            Microseguros.
          </td>
        </tr>
        <tr>
          <td>
            CA las autoridades y entidades
            reguladoras: CNBV, SHCP, BANXICO
            y CONDUSEF
          </td>
          <td>
            Hacendaria; de Supervisión y de
            Regulación, en el ámbito de su
            competencia.
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      Así mismo, en cumplimiento a lo previsto en el artículo 106, fracción XX, de la Ley de Instituciones
      de Crédito, la información que obtengan BANSEFI, con motivo de la celebración de operaciones
      con sus clientes, se podrá proporcionar para fines de comercialización de productos o servicios, si
      cuenta con el consentimiento expreso del cliente respectivo, el cual deberá constar en una sección
      especial dentro de la documentación a través de la cual se contrate una operación o servicio y
      siempre que dicho consentimiento sea adicional al normalmente requerido por la institución para la
      celebración de la operación o servicio solicitado.
    </p>

    <p>
      En ningún caso, el otorgamiento de dicho consentimiento será condición para la contratación de
      dicha operación o servicio.
    </p>

    <h4>
      Medios y
      procedimiento
      para ejercer
      los derechos
      de
      Información.
    </h4>

    <p>
      En todo momento tiene derecho a saber y conocer qué datos personales tenemos de usted.
      Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté
      desactualizada, sea inexacta o incompleta; que la eliminemos de nuestros registros o bases de
      datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y
      obligaciones previstas en la Ley General de Protección de Datos Personales en Posesión de
      Sujetos Obligados y demás normatividad que resulte aplicable; así como oponerse al uso de sus
      datos personales para fines específicos. 
    </p>

    <p>
      Si usted tuviera alguna duda respecto del tratamiento de sus datos personales o del procedimiento
      para ejercer sus derechos, póngase en contacto con el Banco del Ahorro Nacional y Servicios
      Financieros, Sociedad Nacional de Crédito, Institución de Banca de Desarrollo (BANSEFI), por
      medio de su número telefónico 5481-3300, con domicilio en Av. Río Magdalena, número 115,
      colonia Tizapán San Ángel, Delegación Álvaro Obregón, 01090, Ciudad de México o en la dirección
      de página de internet <a href="http://www.bansefi.gob.mx" target="_blank">www.bansefi.gob.mx</a>
    </p>

    <p>
      Para el ejercicio de datos personales de menores de edad, se deberá privilegiar el interés superior
      de la niña, el niño y el adolescente, en términos de las disposiciones legales aplicables, se estará a
      las reglas de representación previstas en la legislación civil que resulte aplicable.
    </p>

    <p>
      Se encuentra a su disposición para limitar el uso o divulgación de sus datos personales, que sean
      distintos y diferentes a lo ya señalados en el presente aviso: Registro Público de Usuarios (REUS),
      en la página: <a style="text-decoration: none; color: black; word-break: break-all;" href="https://webapps.condusef.gob.mx/reus/ReusDW4/index.htm" target="_blank">https://webapps.condusef.gob.mx/reus/ReusDW4/index.htm</a> 
    </p>

    <h4>
      Cambios del
      Aviso de
      Privacidad.
    </h4>

    <p>
      El presente Aviso de Privacidad puede verse afectado por modificaciones y cambios, provenientes
      de los diversas normativas que regulan al Banco del Ahorro Nacional y Servicios Financieros,
      Sociedad Nacional de Crédito, Institución de Banca de Desarrollo (BANSEFI), así como los
      productos o servicios que ofrecemos, además de cualquier cambio normativo referente a la
      finalidad, objetivo o requisitos del Aviso de Privacidad; de lo anterior es nuestra obligación el
      mantenerlo informado al respecto de cualquier modificación del Aviso de Privacidad, por medio de
      la notificación que se le realice por los medios de contacto proporcionados por usted, así como a
      través de los avisos que al efecto se coloquen en las ventanillas de la red de sucursales bancarias
      de BANSEFI.
    </p>

    <h4>
      Atención de
      quejas y
      denuncias.
    </h4>

    <p>
      El Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales,
      es el encargado de velar la protección de sus datos personales, por lo que en caso de vulneración
      de los mismos, usted puede contactarse por medio de la página de internet: <a href="http://inicio.inai.org.mx/" target="_blank">inicio.inai.org.mx/</a> 
    </p>
     
  </div>
</ion-content>

<app-footer></app-footer>