<app-header [svg]="true" [menu]="false" [backButton]="true" [defaultHref]="'/registration/tab1'" [title]="'Register'">
</app-header>

<ion-content>
  <ion-card>

    <ion-card-content>

      <div style="width: 45%; margin: 0 auto;">
        <div style="position: relative;text-align: center; ">
          <div style="width: 100px; height: 100px; margin: auto;">
            <img style="border-radius: 50%;" id="img-user" [src]="imageUrl || '/assets/header-icons/registro.png'">
          </div>
          <canvas id="overlay"></canvas>
        </div>
      </div>

      <div [ngSwitch]="facesDetected">
        <div *ngSwitchCase="-1">
          <p style="text-align: center;" translate="Detecting face..."></p>
        </div>
        <div *ngSwitchCase="0">
          <p style="text-align: center; color: #EB445A; max-width: 250px; margin: auto;" translate="No face was detected*"></p>
        </div>
        <div *ngSwitchCase="1">
          <p style="text-align: center; color: #285D4D; max-width: 250px; margin: auto;" translate="A face was detected correctly*"></p>
        </div>
        <div *ngSwitchCase="null">
          <p style="text-align: center; max-width: 250px; margin: auto;" translate="Take a selfie*"></p>
        </div>
        <div *ngSwitchDefault>
          <p style="text-align: center; color: rgb(219, 164, 0); max-width: 250px; margin: auto;"
            translate="Only one face should appear in the selfie*"></p>
        </div>
      </div>

      <ion-fab horizontal="end" edge>
        <ion-fab-button style="position: relative;top: -30px;" (click)="takePhoto()" color="primary" size="medium">
          <ion-icon style="margin: 0; font-size: 26px;" src="./assets/icon/interface.svg"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-fab-button>
      </ion-fab>

      <form class="container-small" [formGroup]="registerForm">
        <ion-list>
          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-input (input)="toOnlyRegex('uniqueId', '[^0-9a-zA-ZñÑ]')" type="text" maxlength="18" placeholder="{{ 'CURP' | translate }}" formControlName="uniqueId" clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.uniqueId"></app-input-error>

          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input (input)="toOnlyRegex('rfc', '[^0-9a-zA-ZñÑ]')" type="text" maxlength="13" placeholder="{{ 'RFC' | translate }}" formControlName="rfc" clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.rfc"></app-input-error>

          <ion-item>
            <ion-label position="stacked">{{ 'Birthdate' | translate }}
            </ion-label>
            <ion-input type="date" formControlName="dateOfBirth" clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.dateOfBirth"></app-input-error>

          <ion-item lines="none">
            <ion-label position="stacked"><strong>{{ 'Official Identification' | translate }}</strong><ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-label class="space" position="stacked"><strong>{{ 'INE/IFE' | translate }}</strong></ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="browsers-outline"></ion-icon>
            <ion-input  (input)="toOnlyRegex('numberIne', '[^0-9]')" maxlength="13" placeholder="{{ 'Number' | translate }}" formControlName="numberIne"
              clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.numberIne"></app-input-error>
          <ion-item>
            <ion-icon name="browsers-outline"></ion-icon>
            <ion-input (input)="toOnlyRegex('yearIne', '[^0-9]')" maxlength="4" placeholder="{{ 'Registration year' | translate }}" formControlName="yearIne"
              clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.yearIne"></app-input-error>
          <ion-item>
            <ion-icon name="browsers-outline"></ion-icon>
            <ion-input (input)="toOnlyRegex('issueNumber', '[^0-9]')" maxlength="2" placeholder="{{ 'Issue number' | translate }}" formControlName="issueNumber"
              clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.issueNumber"></app-input-error>
          <ion-item>
            <ion-icon name="browsers-outline"></ion-icon>
            <ion-input (input)="toOnlyRegex('electorKey', '[^0-9a-zA-ZñÑ]')" maxlength="18" placeholder="{{ 'Elector key' | translate }}" formControlName="electorKey"
              clearInput></ion-input>
          </ion-item>
          <app-input-error [control]="registerForm.controls.electorKey"></app-input-error>


        </ion-list>
      </form>

    </ion-card-content>


  </ion-card>

  <br>

  <div class="ion-padding">
    <div style="text-align: center;margin: 0.9rem auto;font-size: small;">
      <span>Aceptar </span> <a style="text-decoration: none; margin-right: 0.5rem;" [routerLink]="['/information-text']" [queryParams]="{backUrl: '/registration/client/tab2'}">Términos y Condiciones</a>  
      <ion-checkbox style="vertical-align: bottom;" [(ngModel)]="acceptTermsConditions" color="tertiary" slot="end"></ion-checkbox>
    </div>
    <ion-button type="button" style="margin-top: 0.6rem;" (click)="register()" [disabled]="registerForm.invalid || waiting || !acceptTermsConditions"
      expand="block" color="primary">{{ 'To Register' | translate }}</ion-button>
    <ion-button [routerLink]="['/login']" style="margin-top: 0.6rem;" routerDirection="backward" expand="block" color="medium">
      {{ 'Cancel' | translate }}</ion-button>
  </div>

</ion-content>

<app-footer></app-footer>