#overlay,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
}

ion-item {
    margin-top: 10px;
}
ion-input {
    .native-input.sc-ion-input-ios {
        padding-left: 10px;
    }
}
ion-input:not([type="date"]) {
    //text-transform: capitalize;
}
ion-icon {
    margin: 0px 15px 0 0px;
}
ion-card {
    margin: 0;
    .card-content-ios {
        padding-top: 0px;
    }
}
app-input-error {
    div {
        margin: 0 20px;
    }
}
ion-card-content {
    padding: 0;
}
.container-small {
    width: 80%;
    margin: 0px auto;
}
.ion-padding {
    width: 90%;
    margin: auto;
}
.space{
    margin-bottom: 1vh !important;
}
