<app-header [svg]="true" [backButton]="true" [title]="'Desbloquear Cuenta'" [defaultHref]="'login'"
  [img]="'/assets/header-icons/ajustes.png'"></app-header>

<ion-content>
  <div style="text-align: center; font-size: 16px; font-weight: 700; color: #193931; margin: 0">
    <p style="text-transform: uppercase;">
      {{ '¡Ingresa tus datos!' | translate }}
    </p>
    Para continuar con el proceso de desbloqueo...
  </div>


  <ion-card class="container-small">
    
        <ion-card-content>
    
          <form [formGroup]="form" (ngSubmit)="getActivationCode()">
            <ion-list>
              <ion-item>
                <ion-label position="floating">{{ 'CURP' | translate }}</ion-label>
                <ion-input type="text" (input)="toOnlyRegex('curp', '[^0-9a-zA-ZñÑ]')" maxlength="18" formControlName="curp" clearInput>
                </ion-input>
              </ion-item>
              <app-input-error [control]="form.controls.curp"></app-input-error>
    
              <ion-item>
                <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
                <ion-input type="email" formControlName="email" clearInput>
                </ion-input>
              </ion-item>
              <app-input-error [control]="form.controls.email"></app-input-error>
    
            </ion-list>
            <br>
           
              <ion-button type="submit"  expand="block" color="primary" translate="Unblock">
              </ion-button>
              <ion-button style="margin-top: 0.7rem;" [routerLink]="['/login']" routerDirection="backward" expand="block" color="medium">
                {{ 'Cancel' | translate }}</ion-button>
           
          </form>
        </ion-card-content>
    
      </ion-card>
    
    </ion-content>
    
    
    <app-footer></app-footer>