.container-small {
    margin: 0px auto;
}

ion-item {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: medium;
    border-bottom: solid 1px #DEDEDE;
    padding-bottom: 0.6rem;
    margin-top: 1.4rem;
}